################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VibrationMachineLearningService/.vs/VibrationMachineLearningService/v14/.suo
/VibrationMachineLearningService/VibrationMachineLearningService/obj
/VibrationMachineLearningService/VibrationMachineLearningService/Web.config
/VibrationMachineLearningService/VibrationMachineLearningService/bin
/VibrationMachineLearningService/VibrationMachineLearningService.Tests/bin/Debug
/VibrationMachineLearningService/packages
/VibrationMachineLearningService/VibrationMachineLearningService.Tests/obj/Debug
