################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VibrationMachineLearningService/.vs/VibrationMachineLearningService/v14/.suo
